test/__pycache__/__init__.cpython-39.pyc
test/__pycache__/test_highest_scorer.cpython-39-pytest-7.4.2.pyc
script/user/__pycache__/user.cpython-39.pyc
script/leagues/__pycache__/leagues.cpython-39.pyc
script/common/__pycache__/common.cpython-39.pyc
script/avatars/__pycache__/avatar.cpython-39.pyc
script/__pycache__/main.cpython-39.pyc
script/__pycache__/highest_scorer.cpython-39.pyc
